@keyframes spin
{
  0% 
  {
    transform: rotate(0deg);
  }

  100% 
  {
    transform: rotate(360deg);
  }
}

@keyframes slidetxt 
{
    0%
    {
        right: 20px;
    }

    100%
    {
        right: 70px;
    }
}

@keyframes slidetxtout 
{
    0%
    {
        right: 70px;
    }

    100%
    {
        right: 5px;
    }
}

@keyframes biff
{
    0%
    {
        transform: rotate(360deg);
    }

    100%
    {
        transform: rotate(0deg);
    }
}

@keyframes slideIn 
{
    0%
    {
        right: -60px;
    }

    100%
    {
        right: 0px;
        transform: rotate(0deg);
    }
}

@keyframes slideOut 
{
    0%
    {
        right: 0px;
    }

    100%
    {
        right: -60px;
        position: relative;
    }
}

@keyframes fadein
{
    0%
    {
        position: relative;
        top: 500px;
    }

    50%
    {
        opacity: 0;
    }

    100%
    {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}