@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
* {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.menu_item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.menu_item p:nth-child(2) {
  margin-left: 4%;
  font-size: 0.9em;
}

div.menu_item p:nth-child(3) {
  position: absolute;
  bottom: 15px;
  right: 5px;
  font-weight: bold;
  animation: slidetxtout 2s cubic-bezier(0, 0.71, 0.27, 1);
}

div.menu_item:hover > p:nth-child(3) {
  animation: slidetxt 2s cubic-bezier(0, 0.71, 0.27, 1);
}

div.menu_item p:nth-child(1) {
  font-weight: bold;
  margin-top: 2%;
  margin-left: 4%;
  margin-bottom: 2%;
}

div.menu_item span {
  position: absolute;
  right: -60px;
  width: 58px;
  background: #b1e1cf;
  height: 58px;
  animation: slideOut 2s normal cubic-bezier(0, 0.71, 0.27, 1);
}

div.menu_item:hover span {
  animation: slideIn 2s normal cubic-bezier(0, 0.71, 0.27, 1);
}

div.menu_item:hover i.fa-circle-check {
  animation: rotate_out 1s normal linear;
}

i.fa-circle-check {
  display: flex;
  align-self: flex-end;
  width: min-content;
  position: absolute;
  overflow: hidden;
  padding: 21px;
  transform: rotate(360deg);
  border-top-right-radius: 10px;
  animation: rotate_in 1s normal linear;
  border-bottom-right-radius: 10px;
}

h4 {
  font-weight: bold;
  font-size: 1.5em;
}

h4::after {
  content: "";
  position: absolute;
  left: 50px;
  height: 3px;
  width: 60px;
  background: crimson;
  border-bottom: 5px solid springgreen;
}

main {
  display: flex;
  position: relative;
  padding: 3%;
  background: #f6f6f6;
  border-top-left-radius: 30px;
  flex-direction: column;
  border-top-right-radius: 30px;
  animation: scale_out 600ms normal;
}

main section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  animation: fadein 2s normal;
  max-width: 300px;
}

main section div.menu_item {
  margin-bottom: 5%;
  background: white;
  border-radius: 15px;
  display: flex;
  position: relative;
  height: 59px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.menu_item:hover p:nth-child(1),
div.menu_item:hover p:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 60%;
}

@media only screen and (max-width: 767px) {
  main {
    flex-direction: column;
    bottom: 100px;
  }

  img.resto {
    transform: translateY(20%);
    position: absolute;
    top: 20px;
    z-index: -1;
  }

  img.logo {
    width: 70%;
    padding: 5%;
    position: relative;
    bottom: 20px;
  }

  main section div.menu_item {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header img.logo {
    padding: 3%;
    width: 40%;
  }

  main {
    bottom: 100px;
  }

  div#all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  main section:nth-child(1) {
    margin-right: 4%;
  }

  main section {
    width: 45%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  div.menu_item {
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s ease-in;
  }
}
@media only screen and (min-width: 992px) {
  main {
    flex-direction: column;
    bottom: 50px;
  }

  main section {
    flex-direction: column;
    width: 40%;
  }

  #all {
    display: flex;
  }

  main section:nth-child(2), main section:nth-child(3) {
    margin-left: 2%;
  }

  div.wrapper {
    width: 90%;
    margin: 0 auto;
  }

  header {
    height: 500px;
    overflow: hidden;
  }

  header img.logo {
    width: 20%;
    padding: 1%;
  }

  header img.resto {
    position: relative;
  }

  div.menu_item {
    flex-direction: column;
  }
}
@keyframes slidetxt {
  0% {
    right: 20px;
  }
  100% {
    right: 70px;
  }
}
@keyframes slidetxtout {
  0% {
    right: 70px;
  }
  100% {
    right: 5px;
  }
}
@keyframes rotate_in {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_out {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes scale_out {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideIn {
  0% {
    right: -60px;
  }
  100% {
    right: 0px;
  }
}
@keyframes slideOut {
  0% {
    right: 0px;
  }
  100% {
    right: -60px;
  }
}
@keyframes fadein {
  0% {
    position: relative;
    top: 500px;
  }
  50% {
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

/*# sourceMappingURL=menu.css.map */
